mixin doubleSlider(options)
    -
        var title = options.title;
        var minValue = options.minValue;
        var maxValue = options.maxValue;
        var leftBaseValue = options.leftBaseValue;
        var rightBaseValue = options.rightBaseValue;
        var descriptionText = options.descriptionText

    .slider
        .slider__header
            h3.slider__title= title
            ul.slider__range-value-list
                li.slider__range-value-item.slider__range-value-item--left#rangeValueLeft
                li.slider__range-value-item.slider__range-value-item--right#rangeValueRight
        .slider__wrap
            .slider__track
            input.slider__range-input.slider__range-input--left#rangeLeft(type="range" min=minValue max=maxValue value=leftBaseValue)
            .slider__range-between#sliderRangeBetween
            input.slider__range-input.slider__range-input--right#rangeRight(type="range" min=minValue max=maxValue value=rightBaseValue)
        p.slider__description-text= descriptionText
