mixin textField (options)
    -
        var typeValue = options.type
        var placeholderValue = options.placeholder
        var nameValue = options.name
        var modificator = options.modificator
        var readonly = options.readonly

    if typeValue === "password"
        .text-field(class=modificator)
            input.text-field__input(type=typeValue placeholder=placeholderValue name=nameValue autocomplete="off")
    else
        if readonly
            .text-field(class=modificator)
                input.text-field__input(type=typeValue placeholder=placeholderValue name=nameValue readonly)
        else
            .text-field(class=modificator)
                input.text-field__input(type=typeValue placeholder=placeholderValue name=nameValue)
